body {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.mainContainer {
  display: flex;
  height: 100%;
}

.leftContainer {
  flex-direction: column;
  text-align: left;
  height: max-content;
}

.div {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 4%;
}

.rightContainer {
  flex-direction: column;
}

.staffContainer {
  display: flex;
  justify-content: center;
}

.staffNote {
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
}

.F {
  margin-top: 24%;
}

.Fsharp {
  margin-top: 22%;
}

.G {
  margin-top: 20%;
}

.Gsharp {
  margin-top: 18%;
}

.A {
  margin-top: 16%;
}

.Asharp {
  margin-top: 14%;
}

.B {
  margin-top: 12%;
}

.C {
  margin-top: 10%;
}

.Csharp {
  margin-top: 8%;
}

.D {
  margin-top: 6%;
}

.Dsharp {
  margin-top: 4%;
}

.E {
  margin-top: 2%;
}